main {
    .tituloLineas{
        text-align: center;
        padding: 20px;
    }
    .tituloEnvios{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-bottom: 40px;
      width: 100%;
      height: 8vh;
      div{
        padding: 20px;
        font-size: 21px;
        width: 100%;
        font-style: italic;
        height: 8vh;
        margin-top: -40px;
      }
    }
    .contactosCard{
      gap: 20px;
    }
    padding: 20px;
    .productos-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
      padding-bottom: 50px;
      .producto {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 100%;
        a{
          text-decoration: none;
          color:#0a0a0a ;
        }
        img {
          min-width: 300px;
          max-width: 100%;
          border-radius: 100px 0 100px 0;
          padding: 0 20px 20px 20px;
        }
        h3 {
          font-size: 1.8em;
          margin: 10px 0;
        }
        p {
          font-size: 0.9em;
          color: #555;
          margin-bottom: 10px;
          padding: 0 50px;
        }
        .precio {
          font-size: 1.2em;
          font-weight: bold;
          color: #000;
        }
      }
    }
  }
  
  /* Estilos del nav */
  nav {
    align-items: center; /* Centra verticalmente los elementos */
    background-color: #151212;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
    position: static;
    height: 30vh;
    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid #f4f4f4;
      background-color: #f4f4f4;
      border-radius: 150px;
      min-width: 150px;
      min-height: 150px;
      align-items: center;
      justify-content: center;
      position: static;
      h1 {
        text-transform: uppercase;
        font-size: 30px;
        height: 100%;
        text-align: center;
        align-content: center;
        font-weight: 500;
        color: #0a0a0a;
        position: relative;
        top: 10px;
      }
      p {
        color:#0a0a0a;
        position: relative;
        top: 10px;
        font-weight: 500;
      }
    }
    .menu {
      justify-content: center; /* Centra el menú en móviles */
      flex-wrap: wrap; /* Permite que los elementos del menú se envuelvan */
      gap: 20px; /* Espacio entre elementos del menú */
      list-style: none; /* Quita los puntos de la lista */
      margin: 0;
      padding: 0;
      display: flex;
      li {
        display: inline-block;
        width: 100%;
      }
      a {
        color: white;
        text-decoration: none;
        font-size: 1.1em;
        padding: 5px 10px;
        transition: background-color 0.3s ease;
        text-transform: uppercase;
      }
      a:hover {
        background-color: #555;
        border-radius: 5px;
      }
    }
  }
  
  footer{
    div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      a{
        color: #f4f4f4;
        background-color: #0a0a0a;
        text-decoration: none;
        padding: 15px 15px 60px 15px;
        border-radius: 50px 50px 0 0;
        font-size: 20px;
        p{
          position: relative;
          top: 30px;
        }
      }
      a:hover{
        color: #f4f4f4;
        background-color: #555;
      }
    }
  }
  